@model Task1.ViewModel.Student.DeleteStudentVM
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1 class="text text-decoration-underline text text-danger" >Are You Shure That You Want To Delete This User(Student) ?</h1> <br />


<form method="post" asp-controller="Student" asp-action="Delete">
    

    <div>
        <label asp-for="IdNumber"></label>
        <input type="text" asp-for="IdNumber" class="form-control"disabled />
        <span asp-validation-for="IdNumber" class="text-danger"></span>
    </div>

    <br><br />

    <div>
        <label asp-for="FirstName"></label>
        <input type="text" asp-for="FirstName" class="form-control" disabled />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <br><br>

    <div>
        <label asp-for="FatherName"></label>
        <input type="text" asp-for="FatherName" class="form-control" disabled />
        <span asp-validation-for="FatherName" class="text-danger"></span>
    </div>

    <br><br>
    <div>
        <label asp-for="GrandFatherName"></label>
        <input type="text" asp-for="GrandFatherName" class="form-control" disabled/>
        <span asp-validation-for="GrandFatherName" class="text-danger"></span>
    </div>

    <br><br>
    <div>
        <label asp-for="LastName"></label>
        <input type="text" asp-for="LastName" class="form-control" disabled/>
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <br><br>

    <div>
        <label asp-for="Gender"></label>
        <select asp-for="Gender" disabled>
            <option value="Male" disabled>Male</option>
            <option value="Female" disabled>Female</option>
        </select>
    </div>

    <br><br>

    <div>
        <label>Photograph Image</label>
        <img src="~/ImagesApp/@Model.PhotographName" style="max-width:200px;" class="img-thumbnail" />
    </div>

    <br><br>

    <div>
        <label >Id Photo Image</label>
        <img src="~/ImagesApp/@Model.IdPhotoName" style="max-width:200px;" class="img-thumbnail" />
    </div>

    <br><br>

    <div>
        <label asp-for="Address"></label> 
        <input type="text" asp-for="Address" class="form-control" disabled />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>

    <br><br>

    <div>
        <label asp-for="MobileNumber"></label>
        <input type="text" asp-for="MobileNumber" class="form-control" disabled />
        <span asp-validation-for="MobileNumber" class="text-danger"></span>
    </div>

    <br><br>


    <div>
        <label asp-for="DateOfBirth"></label>
        <input type="date" asp-for="DateOfBirth" class="form-control" disabled  />
        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
    </div>

    <br><br>

    <div>
        <label asp-for="DateOfEnrollmentSchool"></label>
        <input type="date" asp-for="DateOfEnrollmentSchool" class="form-control" disabled />
        <span asp-validation-for="DateOfEnrollmentSchool" class="text-danger"></span>
    </div>

    <br><br>

    <div>
        <label asp-for="Level"></label>
        <select asp-for="Level" disabled>
            <option value="First Level" disabled>First Level</option>
            <option value="Second Level" disabled>Second Level</option>
            <option value="Third Level" disabled>Third Level</option>
            <option value="Forth Level" disabled>Forth Level</option>
        </select>
        <span asp-validation-for="Level" class="text-danger"></span>
    </div>

    <br><br>

    <div>
        <label asp-for="EvaluateLastYear"></label>
        <input type="number" min="0.0" max="100.0" asp-for="EvaluateLastYear" class="form-control" disabled />
        <span asp-validation-for="EvaluateLastYear" class="text-danger"></span>
    </div>

    <br><br>


    <input type="submit" value="Delete" class="text text-danger" />
</form>